:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-body-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-modal-overlay: #2e2f42;
  --color-hero-background: #2e2f42;
  --color-white-background: #ffffff;
  --color-modal-background: #fcfcfc;

}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;

}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body-text);
  background-color: var();
}

.page-header {
  font-weight: 500;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}

.logo-half-header {
  color: var(--color-dark);
}

.menu-link {
  color: var(--color-dark);
}

.menu-link:hover,
.menu-link:focus{
  color: var(--color-pressed-state);
  text-decoration: underline;
}
.address-header {
  font-style: normal;
  font-weight: 400;
}

.contact-email,
.contact-phone {
  color: var(--color-body-text);
}

.contact-phone:hover,
.contact-phone:focus,
.contact-email:hover,
.contact-email:focus {
  color: var(--color-pressed-state);
}

.hero-section{
  background-color: var(--color-dark);
  text-align: center;
}
.idea {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white-background)
}

.modal-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--color-white-background);
  background-color: var(--color-primary-brand);
  cursor: pointer;
}

.modal-btn:focus,
.modal-btn:hover {
  color: var(--color-pressed-state);
  cursor: pointer;

}
/*Advantage*/
.advantage-section{
  
}
.advantage-title{
  color: var(--color-white-background);
}

/*OUR WORKS*/
.our-works-title{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.advantage-item{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}

.footer-section{
  background-color: var(--color-dark);
  color: var(--color-light)
}
.logo-half-footer {
  color: var(--color-light);
}
