:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-body-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-modal-overlay: #2e2f42;
  --color-hero-background: #2e2f42;
  --color-white-background: #ffffff;
  --color-modal-background: #fcfcfc;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

}
body{
  font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body-text);
}

.page-header {
  font-weight: 500;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}
.logo-half{
  color: var(--color-dark);
}
.menu{
  color: var(--color-dark);
}

address {
  font-style: normal;
  font-weight: 400;
  color: var(--color-pressed-state);
}

.idea{
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.modal-btn{
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--color-white-background);
}
.modal-btn:focus,
.modal-btn:hover{
  color: var(--color-pressed-state);
}